h1 {
            font-family: sans-serif;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            background-image: linear-gradient(to right, blue, red, green);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent
        }
